.logo {
	display: flex;
}

h2.h2-logo {
	align-items: center;
	padding-top: 15px;
	padding-left: 9px;
}

ul.ul-header {
	display: flex;
	list-style: none;
	padding-top: 30px;
}

li.li-header {
	padding: 15px;
}

a.a-header {
	padding: 17px 36px;
	color: antiquewhite;
}

.logo {
	display: flex;
	padding-top: 30px;
	padding-left: 20px;
}

.header {
	background:#2F4F4F;
	color: antiquewhite;
	height: 137px;
}

.row-header {
	margin: 0px;
	height: 125px;
}

.body {
	margin-top: -24px;
	color: antiquewhite;
	background: #2F4F4F;
	margin-bottom: -70px;
}

img.img-body {
   
    width: -webkit-fill-available;
    height:max-content;
    max-height:500px;
    display: block;
    align-content: center;
    
}

.row-end {
	margin-bottom: -66px;
}

.row.row-button {
	  margin: auto;
    text-align: center;
    width: 1000px;
    align-items: center;
}

h3.h3-body {
	margin: 24px;
}

.col-md-6 {
	text-align: left;
	padding: 15px;
}

button.button-sua {
	margin-top: 17px;
	width: 131px;
	color: blue;
}

img.logo-NV {
	width: 338px;
	height: 100%;
}